<a href="https://colab.research.google.com/github/derek-shing/DS-Unit-2-Sprint-2-Linear-Regression/blob/master/Gradient_Descent_Assignment_Possible_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Gradient Descent Implementation Challenge!!

## Use gradient descent to find the optimal parameters of a **multiple** regression model. (We only showed an implementation for a bivariate model during lecture.)

A note: Implementing gradient descent in any context is not trivial, particularly the step where we calculate the gradient will change based on the number of parameters that we're trying to optimize for. You will need to research what the gradient of a multiple regression model looks like. This challenge is pretty open-ended but I hope it will be thrilling. Please work together, help each other, share resources and generally expand your understanding of gradient descent as you try and achieve this implementation. 

## Suggestions:

Start off with a model that has just two $X$ variables You can use any datasets that have at least two $x$ variables. Potential candidates might be the blood pressure dataset that we used during lecture on Monday: [HERE](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/mlr/excel/mlr02.xls) or any of the housing datasets. You would just need to select from them the two $x$ variables and one $y$ variable that you want to work with. 

Use Sklearn to find the optimal parameters of your model first. (like we did during the lecture.) So that you can compare the parameter estimates of your gradient-descent linear regression to the estimates of OLS linear regression. If implemented correctly they should be nearly identical.

Becoming a Data Scientist is all about striking out into the unknown, getting stuck and then researching and fighting and learning until you get yourself unstuck. Work together! And fight to take your own learning-rate fueled step towards your own optimal understanding of gradient descent!

In [12]:
import pandas as pd
df = pd.read_excel('https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/mlr/excel/mlr02.xls')
##### Use Sklearn to find the optimal parameters of your model #####

*** No CODEPAGE record, no encoding_override: will use 'ascii'

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [14]:
df

     X1  X2   X3
0   132  52  173
1   143  59  184
2   153  67  194
3   162  73  211
4   154  64  196
5   168  74  220
6   137  54  188
7   149  61  188
8   159  65  207
9   128  46  167
10  166  72  217

In [42]:
X = df[['X1','X2']]
y = df['X3'].values

X.X1 = (X.X1 - X.X1.mean()) / X.X1.std()
X.X2 = (X.X2 - X.X2.mean()) / X.X2.std()

model = LinearRegression()
model.fit(X, y)

print("Slope Coefficient: ", model.coef_[0],model.coef_[1])
print("\nIntercept Value: ", model.intercept_)

Slope Coefficient:  18.34591583551031 -1.574397302316746

Intercept Value:  195.0

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [43]:
X

          X1        X2
0  -1.327593 -1.147033
1  -0.520363 -0.379020
2   0.213482  0.498710
3   0.873943  1.157007
4   0.286867  0.169561
5   1.314251  1.266723
6  -0.960671 -0.927601
7  -0.080056 -0.159587
8   0.653790  0.279278
9  -1.621132 -1.805330
10  1.167482  1.047291

In [26]:
y

array([173, 184, 194, 211, 196, 220, 188, 188, 207, 167, 217])

In [0]:
##### Solve by implementing a "multiple variable" Gradient Descent Function #####

In [0]:
# Hyperparameters
alpha = 0.01 # Step Size
iterations = 5000 # Number of iterations
theta = [0, 0, 0]

# Other Important Variables
n = y.size
np.random.seed(42)

In [0]:
def gradient(X,y,theta):
  d_theta=[0,0,0]
  for x,y,z in zip(X.X1,X.X2,y):
    #print(x,y,z)
    common_term=1/2*(theta[0]+theta[1]*x+theta[2]*y-z)
    d_theta[0] = d_theta[0] +common_term
    d_theta[1] = d_theta[1] +common_term*x
    d_theta[2] = d_theta[2] +common_term*y
  return d_theta

In [45]:
gradient(X,y,theta)

[-1072.5, -84.02531813642317, -81.90314485287757]

In [55]:
def gradient_descent(x, y, theta, iterations, alpha):
  for i in range(iterations):
    theta = theta - alpha *np.array(gradient(x,y,theta))
    #print(theta)
  return theta

final_theta = gradient_descent(X, y, theta, iterations, alpha)
print("Gradient Descent Results: {:.9f}, {:.14f},{:.14f}".format(final_theta[0], final_theta[1],final_theta[2]))
print("Skilean Results: {:.9f}, {:.14f},{:.14f}".format(model.intercept_, model.coef_[0],model.coef_[1]))

Gradient Descent Results: 195.000000000, 18.29764380613854,-1.52612527294498
Skilean Results: 195.000000000, 18.34591583551031,-1.57439730231675

## Stretch Goals

If you happen upon the most useful resources for accomplishing this challenge first, I want you to spend time today studying other variations of Gradient Descent-Based Optimizers. A good list of the most common optimizers can be found in the Keras Documentation: <https://keras.io/optimizers/>

- Try and write a function that can perform gradient descent for arbitarily large (in dimensionality) multiple regression models. 
- Create a notebook for yourself exploring the different gradient descent based optimizers.
- How do the above differ from the "vanilla" gradient descent we explored today?
- How do these different gradient descent-based optimizers seek to overcome the challenge of finding the global minimum among various local minima?
- Write a blog post that reteaches what you have learned about these other gradient descent-based optimizers.

[Overview of GD-based optimizers](http://ruder.io/optimizing-gradient-descent/)

[Siraj Raval - Evolution of Gradient Descent-Based Optimizers](https://youtu.be/nhqo0u1a6fw)