# Gradient Descent Implementation Challenge!!

## Use gradient descent to find the optimal parameters of a **multiple** regression model. (We only showed an implementation for a bivariate model during lecture.)

A note: Implementing gradient descent in any context is not trivial, particularly the step where we calculate the gradient will change based on the number of parameters that we're trying to optimize for. You will need to research what the gradient of a multiple regression model looks like. This challenge is pretty open-ended but I hope it will be thrilling. Please work together, help each other, share resources and generally expand your understanding of gradient descent as you try and achieve this implementation. 

## Suggestions:

Start off with a model that has just two $X$ variables You can use any datasets that have at least two x variables. Potential candidates might be the blood pressure dataset that we used during lecture on Monday: [HERE](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/mlr/excel/mlr02.xls) or any of the housing datasets. You would just need to select from them the two varaibles $x$ variables and one y variable that you want to work with that you most want to work with. 

Use Sklearn to find the optimal parameters of your model first. (like we did during the lecture.) So that you can compare the parameter estimates of your gradient-descent linear regression to the estimates of OLS linear regression. If implemented correctly they should be nearly identical.

Becoming a Data Scientist is all about striking out into the unknown, getting stuck and then researching and fighting and learning until you get yourself unstuck. Work together! And fight to take your own learning-rate fueled step towards your own optimal understanding of gradient descent!

In [4]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn as sns

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/car_regression.csv')

In [7]:
df.head()

   make    price  body  mileage  engV  engType  registration  year  drive
0    23  15500.0     0       68   2.5        1             1  2010      1
1    50  20500.0     3      173   1.8        1             1  2011      2
2    50  35000.0     2      135   5.5        3             1  2008      2
3    50  17800.0     5      162   1.8        0             1  2012      0
4    55  16600.0     0       83   2.0        3             1  2013      1

In [11]:
standard_df = (df - df.mean())/df.std()
standard_df.head()

,make,price,body,mileage,engV,engType,registration,year,drive
0,-0.959604,-0.028035,-1.429724,-0.756630,-0.012685,-0.485072,0.248999,0.505222,0.572196
1,0.141257,0.176467,0.433274,0.320690,-0.142622,-0.485072,0.248999,0.649607,1.921296
2,0.141257,0.769522,-0.187725,-0.069197,0.544187,1.006039,0.248999,0.216451,1.921296
3,0.141257,0.066036,1.675273,0.207828,-0.142622,-1.230627,0.248999,0.793992,-0.776904
4,0.345120,0.016955,-1.429724,-0.602727,-0.105497,1.006039,0.248999,0.938378,0.572196

In [12]:
standard_df = standard_df[['price','make', 'body', 'mileage', 'engV', 'engType', 'registration', 'year', 'drive']]

In [29]:
standard_df.head()

,price,make,body,mileage,engV,engType,registration,year,drive
0,-0.028035,-0.959604,-1.429724,-0.756630,-0.012685,-0.485072,0.248999,0.505222,0.572196
1,0.176467,0.141257,0.433274,0.320690,-0.142622,-0.485072,0.248999,0.649607,1.921296
2,0.769522,0.141257,-0.187725,-0.069197,0.544187,1.006039,0.248999,0.216451,1.921296
3,0.066036,0.141257,1.675273,0.207828,-0.142622,-1.230627,0.248999,0.793992,-0.776904
4,0.016955,0.345120,-1.429724,-0.602727,-0.105497,1.006039,0.248999,0.938378,0.572196

In [78]:
X = standard_df.iloc[:,1:]
ones = np.ones([X.shape[0],1])
X = np.concatenate((ones, X), axis=1)
y = standard_df.iloc[:,:1].values
theta = np.zeros([1,9])

alpha = 0.01
iters = 1000

#Theta = [Len(X), number of variables the result will print]

In [79]:
X

array([[ 1.        , -0.95960413, -1.42972422, ...,  0.2489989 ,
         0.50522153,  0.57219617],
       [ 1.        ,  0.14125716,  0.43327413, ...,  0.2489989 ,
         0.64960696,  1.92129594],
       [ 1.        ,  0.14125716, -0.18772532, ...,  0.2489989 ,
         0.21645067,  1.92129594],
       ...,
       [ 1.        ,  0.14125716, -1.42972422, ...,  0.2489989 ,
         0.21645067,  0.57219617],
       [ 1.        , -0.14415132,  0.43327413, ...,  0.2489989 ,
         0.21645067, -0.7769036 ],
       [ 1.        , -1.7342843 , -0.18772532, ...,  0.2489989 ,
         0.07206524,  0.57219617]])

In [80]:
X.shape

(8495, 9)

In [81]:
def computeCost(X,y,theta):
    to_be_summed = np.power(((X @ theta.T)-y),9)
    return np.sum(to_be_summed)/(2 * len(X))

In [82]:
y.shape

(8495, 1)

In [83]:
y

array([[-0.02803531],
       [ 0.17646666],
       [ 0.7695224 ],
       ...,
       [ 0.09466587],
       [ 0.03327438],
       [ 0.25826746]])

In [84]:
theta.shape

(1, 9)

In [85]:
def gradientDescent(X,y,theta,iters,alpha):
    cost = np.zeros(iters)
    for i in range(iters):
        theta = theta - (alpha/len(X)) * np.sum(X * (np.matmul(X, theta.T) - y), axis=0)
        cost[i] = computeCost(X, y, theta)
    
    return theta,cost

#running the gd and cost function
g, cost = gradientDescent(X,y,theta,iters,alpha)
print(g)

finalCost = computeCost(X,y,g)
print(finalCost)

[[ 6.73802783e-16 -3.52257207e-02 -1.20103556e-01 -1.64183930e-01
   6.14248159e-02 -6.33810193e-02  4.47151804e-02  3.26549396e-01
   2.56344118e-01]]
-78688550.23675889

## Stretch Goals

If you happen upon the most useful resources for accomplishing this challenge first, I want you to spend time today studying other variations of Gradient Descent-Based Optimizers.

- Try and write a function that can perform gradient descent for arbitarily large (in dimensionality) multiple regression models. 
- Create a notebook for yourself exploring these topics
- How do they differ from the "vanilla" gradient descent we explored today
- How do these different gradient descent-based optimizers seek to overcome the challenge of finding the global minimum among various local minima?
- Write a blog post that reteaches what you have learned about these other gradient descent-based optimizers.

[Overview of GD-based optimizers](http://ruder.io/optimizing-gradient-descent/)

[Siraj Raval - Evolution of Gradient Descent-Based Optimizers](https://youtu.be/nhqo0u1a6fw)