<a href="https://colab.research.google.com/github/extrajp2014/DS-Unit-2-Sprint-2-Linear-Regression/blob/master/module1-OLS-regression/Linear_Regression_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# King County Housing Data - Linear Regression Assignment

Data for this assignment was obtained from Kaggle: <https://www.kaggle.com/harlfoxem/housesalesprediction>

Complete the following challenges below to improve iteratively your home price estimation and practice implementing predictive linear regression models.

# Bivariate Regression

Pick the X variable that you think will be the most correlated with Y. 

Split your dataset into a 50-50 test-train-split (50% of data for training, and 50% for testing).

Train a regression model using this single X and single Y variable. Once you have trained the model and obtained its coefficients, plot the points on a graph and fit your line of best fit to the graph.

Report your Root Mean Squared Error and R-Squared for this model.

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/kc_house_data.csv')
pd.set_option('display.max_columns', 100)
print(df.shape)
df.sample(7)

(21613, 21)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
11604,1795700030,20141201T000000,355000.0,3,2.50,1880,5290,1.0,0,0,3,8,1250,630,1974,0,98108,47.5401,-122.300,2030,5092
17233,6600410170,20140528T000000,124740.0,3,1.00,1340,15600,1.0,0,0,4,6,1340,0,1978,0,98042,47.3224,-122.143,1320,9800
13142,3832710450,20141119T000000,262500.0,4,2.75,1500,7036,1.0,0,0,3,7,1060,440,1979,0,98032,47.3665,-122.276,1620,7200
2087,8682291940,20140630T000000,419000.0,2,1.75,1510,4980,1.0,0,0,3,8,1510,0,2006,0,98053,47.7191,-122.023,1350,4157
3294,686450490,20140929T000000,555000.0,3,2.00,2240,11250,1.0,0,0,3,8,2240,0,1968,0,98008,47.6371,-122.119,2200,12500
8983,8021700495,20140722T000000,503045.0,3,3.00,1560,2250,2.0,0,0,3,9,1560,0,2009,0,98103,47.6929,-122.333,1610,4500
7847,2621600015,20150121T000000,120000.0,3,1.00,1150,8924,1.0,0,0,3,6,1150,0,1943,0,98030,47.3865,-122.217,1492,8924

In [0]:
##### Your Code Here #####

# Two-variable Multiple Regression

To ramp up slowly, pick a second X variable that you think will be the most correlated with Y. 

Split your dataset into a 50-50 test-train-split (50% of data for training, and 50% for testing).

Train a regression model using these two X variables. Once you have trained the model and obtained its coefficients, plot the points on a graph and fit your **plane** of best fit to the graph.

Report your Root Mean Squared Error and R-squared for this model.

In [0]:
##### Your Code Here #####

# Multiple Regression

Now using all available X variables, split your data into test and training datasets, train your model, obtain its coefficients, and report the Root Mean Squared Error and R-squared values.

In [0]:
##### Your Code Here #####

# Stretch Goals

Pick from these stretch goals the tasks that you feel like will be the most beneficial for you. 

- Explore the concept of $R^2$, learn how it is calculated and how it relates to covariance, correlation, and variance. 
- Start to research Polynomial Regression and Log-Linear Regression (tomorrow's topics). Find a new regression dataset and try to implement one of these models. 
- Research "Feature Engineering" see what features you can engineer on the above dataset. How much are you able to improve your accuracy with feature engineering?
- Further explore the concept of "Model Validation" - we'll spend a whole week on this soon. What other measures of model accuracy could we have used besides Root Mean Squared Error?
- Write a blog post explaining the basics of Linear Regression.

Remember to share your findings in the slack channel. :)